<section class="content">
    <!-- Suvrat Change the position of breadcrumb -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ol id="breadcrumb" class="ab-nav breadcrumb">
            <i class="glyphicon glyphicon-home"></i>&nbsp;
            <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
                <a ng-if="!$last" ng-href="{{ breadcrumb.path }}" ng-bind="breadcrumb.label"
                    class="margin-right-xs"></a>
                <span ng-if="$last" ng-bind="breadcrumb.label"></span>
            </li>
        </ol>
    </div>
    <!-- -------------------------------------- -->
    <br><br>
    <!-- general form elements disabled -->
    <form id="projectAddForm" role="form" name="addProjectForm">

        <div class="box box-default">
            <div class="row boxhead box-header with-border boxhead">
                <div class="col-md-6 ">
                    <div class="">
                        <h1 class="formheading">
                            <b> {{pjc.title}} </b>
                        </h1>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="pull-right" style="margin-top: 5px; margin-right: 30px;">
                        <a class="back" ng-href="/project"><button type="button" class="btn btn-default btn-sm "
                                data-toggle="modal" title="Back" data-target="" data-ng-click=""
                                style="border:white;color:#428bca;"><i class="fa fa-arrow-left"
                                    aria-hidden="true"></i></button></a>

                    </div>
                </div>
            </div>

            <!-- /.box-header-->
            <div class="box-body">
                <input type="hidden" id="projectId" name="projectId" value="{{pjc.id}}">
                <!-- text input -->
                <div class="form-group">
                    <label class="mandatory" for="projectName">Project Name</label>
                    <input type="text" class="form-control" id="projectName" name="projectName"
                        ng-model="pjc.projectName" placeholder="Enter project name">
                </div>

                <div class="row" id="dateSection">

                    <div class="col-md-4">
                        <div class="form-group">

                            <label class="mandatory" for="prstartDate">Start Date</label>
                            <div>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="prstartDate"
                                        name="start_date" ng-model="pjc.startDate" autocomplete="off"
                                        placeholder="Enter start date" readonly='true'
                                        style="cursor:default;background-color: white;">

                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">

                            <label class="mandatory">End Date</label>
                            <div>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>

                                    <input type="text" class="form-control pull-right" id="prendDate" name="end_date"
                                        ng-model="pjc.endDate" autocomplete="off" placeholder="Enter end date"
                                        readonly='true' style="cursor:default;background-color: white;">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="mandatory" for="projectStatus">Status</label>
                            <select id="projectStatus" name="projectStatus" ng-model="pjc.projectStatus"
                                class="form-control s2mn" style="width: 100%;"
                                ng-options="x.name as x.name for x in pjc.status" disabled="">
                                <option value="">Select project status</option>
                            </select>
                        </div>
                    </div>

                </div>


                <!-- text input -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" id="descDiv">
                            <label class="mandatory" for="description">Project Overview</label><br>
                            <textarea type="text" rows="6" cols="90" ng-model="pjc.description" name="description"
                                id="description" class="form-control" placeholder="Project overview"></textarea>
                        </div>
                    </div>
                </div>

                <!-- Checkbox Public/Private Section -->
                <!--                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="control-label"><b>Project access</b></span><br>
                                            <span>
                                                <input value="private" type="radio"  id="projectAccess" name="projectAccess" ng-model="project.projectAccess" /> Private - Only project users can access
                                            </span><br>
                                            <span>
                                                <input value="public" type="radio" name="projectAccess" ng-model="project.projectAccess" /> Public - Portal users can view/follow
                                            </span>
                                        </div>
                                    </div>
                                </div>   -->
                <!-- Checkbox Public/Private section ends here  -->

                <div class="row">
                    <div class="col-md-4">
                        <!-- text input -->
                        <div class="form-group">
                            <label class="mandatory" for="projectOwner">Owner</label>
                            <!-- <a href="/client/add" type="button" class="btn btn-default btn-xs moving-pulse-button  ng-scope" data-toggle="modal" title="Add more" ng-if="pjc.temp != 1" data-ng-click="pjc.addMoreDomainTechnology()" style="margin-right: 40px;float: right;left: 16px; width: 21px;
                                height: 21px;"><i style="color: black;padding-bottom: 0px;padding-right: 0px;" class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a> -->
                            <!-- Suvrat Open the create client modal -->
                            <button type="button" class="btn btn-default btn-xs moving-pulse-button  ng-scope"
                                data-toggle="modal" title="Add more" ng-if="pjc.temp != 1"
                                data-ng-click="pjc.addNewClient()" style="margin-right: 40px;float: right;left: 16px; width: 21px;
                                height: 21px;"><i style="color: black;padding-bottom: 0px;padding-right: 0px;"
                                    class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                            <!-- -------------------------------------- -->
                            <select id="projectOwner" name="projectOwner" ng-model="pjc.projectOwner"
                                class="form-control s2mn" style="width: 100%;">
                                <option value="">Select project owner</option>
                                <option value="{{x.id}}" ng-repeat="x in pjc.clients">{{x.name}}</option>
                            </select>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <!-- text input -->
                        <div class="form-group">
                            <label class="mandatory" for="projectManager">Manager</label>
                            <select id="projectManager" name="projectManager" ng-model="pjc.projectManager"
                                class="form-control s2mn" style="width: 100%;"
                                ng-options="x.id as x.name for x in pjc.managers">
                                <option value="">Select project manager</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="mandatory" for="projectLead">Lead</label>
                            <select id="projectLead" name="projectLead" ng-model="pjc.projectLead"
                                class="form-control s2mn" style="width: 100%;"
                                ng-options="x.id as x.name for x in pjc.leads">
                                <option value="">Select project Lead</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <div class="pull pull-right" ng-if="pjc.id">
                            <input id="saveProjectButton" type="submit" value="Save" data-ng-click="pjc.saveProject()"
                                class="btn btn-success" ng-disabled="pjc.submitClicked" />
                        </div>
                    </div>
                </div>


                <!--<div class="row">-->
                <div class="">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label class="mandatory" for="technology"
                                    style="color: {{pjc.highlightcolor2}};">Domain</label>

                                <!-- <a href="/category/add" type="button" class="btn btn-default btn-xs moving-pulse-button  ng-scope" data-toggle="modal" title="Add more" ng-if="pjc.temp != 1" data-ng-click="pjc.addMoreDomainTechnology()" style="margin-right: 40px;float: right;left: 16px; width: 21px;
                                    height: 21px;"><i style="color: black;padding-bottom: 0px;padding-right: 0px;" class="fa fa-plus-circle" aria-hidden="true"></i>
                                </a> -->

                                <!-- Suvrat Open the add domain modal -->
                                <button type="button" class="btn btn-default btn-xs moving-pulse-button  ng-scope"
                                    data-toggle="modal" title="Add more" ng-if="pjc.temp != 1"
                                    data-ng-click="pjc.addNewDomain()" style="margin-right: 40px;float: right;left: 16px; width: 21px;
                                    height: 21px;"><i style="color: black;padding-bottom: 0px;padding-right: 0px;"
                                        class="fa fa-plus-circle" aria-hidden="true"></i>
                                </button>
                                <!-- ---------------------------- -->

                                <select id="projectDomain" name="projectDomain" ng-model="pjc.projectForm.projectDomain"
                                    class="form-control s2mn" data-placeholder="Select project domain"
                                    ng-options="x as x.name for x in pjc.domains| filter:show"
                                    style="border-color: {{pjc.highlightcolor2}}; width: 100%;"
                                    ng-change="pjc.fetchInfo(pjc.projectForm.projectDomain)">
                                    <option value="">Select project domain</option>
                                </select>

                                <span ng-if="pjc.domainTechnology < 1"
                                    style="color:#dd4b39;border-color:#dd4b39">{{pjc.errMessage}}</span>
                                <!-- <pre>{{pjc.domains|json}}</pre> -->
                                <!-- <select id="projectDomain" name="projectDomain" ng-model="pjc.projectForm.projectDomain" class="form-control s2mn" data-placeholder="Select project domain" style="width: 100%;" ng-change="pjc.fetchInfo(pjc.projectForm.projectDomain)">
                                    <option value="">Select project domain</option>

                                    <option ng-repeat="data in pjc.domains" value="{{data}}">{{data.name}}</option>
                                </select> -->
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="experienceYears" style="margin-bottom: 10px;">Technologies</label>
                                <select id="technology" name="technology" ng-model="pjc.projectForm.projectTechnology"
                                    class="form-control s2mn" data-placeholder="Select technologies"
                                    ng-options="x as x.name for x in pjc.technologies" multiple="multiple"
                                    style="width: 100%;">
                                    <option value="">Select technology</option>
                                </select>

                                <!-- <select id="technology" name="technology" ng-model="pjc.projectForm.projectTechnology.id" class="form-control s2mn" data-placeholder="Select technologies"  multiple="multiple" style="width: 100%;">
                                    <option value="">Select technology</option>
                                    <option ng-repeat="data in pjc.technologies" value="{{data.id}}" >{{data.name}}</option>
                                </select> -->
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div
                                ng-if="pjc.projectForm.projectDomain && pjc.projectForm.projectTechnology.length > 0 && pjc.id">
                                <button type="button" class="btn btn-default btn-xs moving-pulse-button "
                                    data-toggle="modal" title="Add more" ng-if="pjc.temp != 1"
                                    data-ng-click="pjc.updateMoreDomainTechnology()"
                                    style="margin-right: 40px;margin-top: 30px;bottom: 4px;left: 16px;"><i
                                        style="color: black;padding-bottom: 0px;padding-right: 0px;"
                                        class="fa fa-plus-circle" aria-hidden="true"></i>
                                </button>
                            </div>


                            <div
                                ng-if="pjc.projectForm.projectDomain && pjc.projectForm.projectTechnology.length > 0 && !pjc.id">
                                <button type="button" class="btn btn-default btn-xs moving-pulse-button "
                                    data-toggle="modal" title="Add more" ng-if="pjc.temp != 1"
                                    data-ng-click="pjc.addMoreDomainTechnology()"
                                    style="margin-right: 40px;margin-top: 30px;bottom: 4px;left: 16px;"><i
                                        style="color: black;padding-bottom: 0px;padding-right: 0px;"
                                        class="fa fa-plus-circle" aria-hidden="true"></i>
                                </button>
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-12"> -->
                        <!-- Suvrat -->
                        <div class="col-md-12 table-responsive">
                            <!-- --------- -->
                            <table class="table" style="{{pjc.checkValidation}}">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Sr No.</th>
                                        <th>Domain</th>
                                        <th>Technologies</th>
                                        <th style="text-align: center;">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <!-- <pre>{{pjc.domainTechnology|json}}</pre> -->
                                    <tr ng-repeat="data in pjc.domainTechnology">
                                        <td style="text-align: center;width: 10%;">{{$index + 1}}</td>
                                        <td style="width: 20%;">{{data.projectDomain.name}}</td>
                                        <td style="width: 60%;">
                                            <div class="" style="float:left;">
                                                <a class="btn btn-outline btn-circles btn-sm green"
                                                    ng-repeat="x in data.projectTechnology"
                                                    style="margin-right: 10px; margin-bottom: 1%;">{{x.name}}&nbsp;&nbsp;<i
                                                        class="fa fa-close"
                                                        ng-click="pjc.removeTableTech($parent.$index, $index)"></i></a>
                                            </div>
                                        </td>
                                        <td style="text-align: center;width: 10%;">
                                            <button type="button" class="btn btn-default btn-xs" id="addTech"
                                                title="Add technology"
                                                data-ng-click="pjc.addTechToDomain(data.projectDomain.id, data.projectDomain.technology[0].project_category_id, data.projectTechnology);"
                                                data-toggle="modal" data-target="#addTechModal"
                                                style="border-color: #fff!important;"><i class="fa fa-plus"
                                                    aria-hidden="true"></i>
                                            </button>
                                            <span>&nbsp;</span>
                                            <div ng-if="pjc.id">
                                                <button type="button" class="btn btn-default btn-xs " id="editTech"
                                                    title="Edit" data-ng-click="pjc.editDomainTech(data);" style=""><i
                                                        class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <button type="button" class="btn btn-default btn-xs" title="Remove"
                                                data-ng-click="pjc.removeRowDomainTechnology($index)"
                                                style="border-color: #fff!important;" ng-if="!pjc.id"><i
                                                    class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span ng-if="pjc.checkValidation" style="color:red;"> Domain duplication not allowed !!
                            </span>
                        </div>
                    </div>
                    <!-- <pre>
                    {{ pjc.domains|json}}
                 </pre> -->

                </div>

                <!--<div class=" col-md-12">-->
                <!-- <div class="row col-md-12" style="float:right;">
                        <button type="button" class="btn btn-primary btn-circle btn-sm pull-right"  ng-click="usc.getAllRoles()" title="Add"><i class="fa fa-plus" ></i></button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mandatory" for="">Domain</label>
                            <select id="projectDomain" name="projectDomain" ng-model="pjc.projectDomain" class="form-control s2mn" data-placeholder="Select project domain" ng-options="x.id as x.name for x in pjc.domains"  style="width: 100%;" >
                                <option value="">Select project domain</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="mandatory" for="">Technology</label>

                            <select id="technology" name="technology" ng-model="pjc.projectTechnology.id" class="form-control s2mn" data-placeholder="Select technologies" ng-options="x.id as x.name for x in pjc.technologies" multiple="multiple" style="width: 100%;">
                                <option value="">Select technology</option>
                            </select>
                        </div>
                    </div>  -->
                <!-- text input -->

                <!--</div>-->
                <!--</div>-->
                <!-- <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div> -->

            </div>



            <!-- /.box-body -->

            <div class="box-footer">

                <div class="pull pull-right" ng-if="!pjc.id">
                    <input type="submit" value="Save" data-ng-click="pjc.saveProject()" class="btn btn-success"
                        ng-disabled="pjc.submitClicked" />
                    <input ng-if="pjc.title == 'Add New Project'" type="reset" value="Reset" ng-click="resetForm()"
                        class="btn btn-warning" />
                </div>
            </div>
        </div>

    </form><br>


    <!-- Pop up modal for redirect to specific pages -->
    <div class="modal fade SwitchToMilestone" id="switchToMilestone" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" id="popUpModalHeader" style="text-align:center;">
                    <i class="glyphicon glyphicon-check"
                        style=" font-size: 30px!important; color: #337ab7 !important; text-align: center!important;"></i>
                </div>
                <div class="modal-title popUpModalTitle">Success</div>
                <div class="modal-body popUpModalBody ">Are you want to create milestone?</div>
                <div class="modal-footer">
                    <button type="button" id="pwd-successful-change" class="btn btn-primary" data-dismiss="modal"
                        style="font-family:Comic Sans MS; margin : 10px 5px 0 0; font-style: bold"
                        ng-click="pjc.redirectOk()">OK</button>
                    <button type="button" id="pwd-successful-change" class="btn btn-warning" data-dismiss="modal"
                        style="font-family:Comic Sans MS; margin : 10px 5px 0 0; font-style: bold"
                        ng-click="pjc.redirectCancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal for adding new technology to domain -->
<div class="modal fade" id="addTechModal" role="dialog">
    <div class="modal-dialog modal-md">

        <form class="form-horizontal" role="form" id="addTechForm" ng-submit="addRow()" style="margin-right: 100px;">
            <div class="modal-content" style="border-radius: 0px!important;top: 90px">

                <div class="modal-header" style="text-align:center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Technology</h4>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Domain</label>
                        <div class="col-md-8">
                            <select id="domainIdModal" data-ng-model="pjc.domain_idMod"
                                ng-options="x.id as x.name for x in pjc.domains" name="domainModal" class="form-control"
                                disabled="disabled">
                                <!-- <option value="">Select domain</option> -->
                            </select>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <label for="experienceYears" class="col-md-4 control-label">Technologies</label>
                            <div class="col-md-8">
                                <select id="technologyModal" name="technologyModal" ng-model="pjc.technology_idMod"
                                    class="form-control s2mn" data-placeholder="Select technologies"
                                    ng-options="x as x.name for x in pjc.technologiesForModal" multiple="multiple"
                                    style="width: 100%;" ng-disabled="!pjc.domain_idMod">
                                    <!-- <option value="">Select technology</option> -->
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button data-ng-click="pjc.saveTechToDomainArray()" ng-disabled="pjc.technology_idMod.length < 1"
                        class="btn btn-primary"> Save</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </form>
    </div>
</div>
<!--Suvrat Modal for adding a new domain -->
<div class="modal fade" id="addDomainModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new domain with technology</h4>
            </div>

            <div class="modal-body">
                <form role="form" name="addForm" id="domainForm">
                    <div class="form-group">
                        <label class="mandatory" for="">Domain Name</label>
                        <input type="text" class="form-control" name="categoryName" id="categoryName"
                            ng-model="pjc.categoryName" placeholder="Enter domain name" ng-change="pjc.copyAddress()">
                    </div>
                    <div class="form-group">
                        <label style="padding-top: 4px;" for="">Domain Alias</label>
                        <input type="text" class="form-control" name="categoryAlias" id="categoryAlias"
                            ng-model="pjc.categoryAlias" placeholder="Enter category alias" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label for="">Technology</label>

                        <select id="technology" name="technology" ng-model="pjc.technology" class="form-control s2mn"
                            data-placeholder="Select technology"
                            ng-options="x.id as x.name for x in pjc.allTechnologies" multiple="multiple"
                            style="width: 100%;">
                            <option value="">Select technology</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <input type="submit" value="Save" data-ng-click="pjc.saveCategory()" class="btn btn-success"
                    ng-disabled="pjc.submitClicked" />
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------- -->

<!-- Suvrat Modal for adding a new client -->
<div class="modal fade" id="addClientModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Client Company</h4>
            </div>

            <div class="modal-body">
                <form role="form" name="addClientForm" id="clientForm">
                    <input type="hidden" id="clientId" name="clientId" value="{{pjc.clientid}}">

                    <div class="form-group">
                        <label class="mandatory" for="">Client Company Name</label>
                        <input type="text" class="form-control" ng-model="pjc.companyName" name="companyName"
                            id="companyName" placeholder="Enter client company name">
                    </div>

                    <div class="form-group">
                        <label class="mandatory" for="">Contact Email</label>
                        <input type="text" class="form-control" ng-model="pjc.contactEmail" name="contactEmail"
                            id="contactEmail" placeholder="Enter contact email">
                    </div>

                    <div class="form-group">
                        <label class="mandatory" for="">Mobile No.</label>
                        <input type="text" class="form-control" data-ng-model="pjc.mobileNo" name="mobileNo"
                            id="mobileNo" placeholder="Enter mobile no.">
                    </div>

                    <div class="form-group">
                        <label class="mandatory" for="">Address</label><br>
                        <textarea type="text" rows="5" cols="80" data-ng-model="pjc.address" name="address" id="address"
                            class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="mandatory" for="">Business</label>
                        <input type="text" class="form-control" data-ng-model="pjc.business" name="business"
                            id="business" placeholder="Enter business">
                    </div>

                    <div class="form-group">
                        <label class="mandatory" for="">Type</label>
                        <input type="text" class="form-control" data-ng-model="pjc.bType" name="bType" id="bType"
                            placeholder="Enter type">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <input type="submit" value="Save" data-ng-click="pjc.createClient()" class="btn btn-success"
                    ng-disabled="pjc.submitClicked" />
                <button type="button" class="btn btn-warning" data-dismiss="modal">
                    Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------- -->
<script>

    $(document).ready(function () {
        $('#description').ckeditor();

        CKEDITOR.instances.description.on('change', function () {
            if (CKEDITOR.instances.description.getData().length > 0) {
                $('#description-error').hide();
                $('#cke_1_top').removeAttr('style');
                $('#cke_1_bottom').removeAttr('style');
                $('#descDiv').removeClass('has-error');
            }
            if (CKEDITOR.instances.description.getData().length == 0) {
                $('#description-error').show();
                $('#cke_1_top,#cke_1_bottom').css({
                    'border-color': 'red'
                });
                $('#descDiv').addClass('has-error');
            }
        });
    });

    $(function () {
        $('#projectTechnology').select2({
            placeholder: "Select project technology"
        });

        //bootstrap WYSIHTML5 - text editor
        $(".textarea").wysihtml5();

        //Date picker
        $('#prendDate').datepicker({
            autoclose: true,
            todayHighlight: true
        }).on('changeDate', function (e) {
            $(this).valid();
            var selected = $(this).val();
            $('#prstartDate').datepicker('setEndDate', selected);
        });

        //Date picker
        $('#prstartDate').datepicker({
            autoclose: true,
            todayHighlight: true
        }).on("changeDate", function () {
            $(this).valid();
            var selected = $(this).val();
            $('#prendDate').datepicker('setStartDate', selected);
        });

    });

    //Initialize Select2 Elements
    $(".select2").select2();
    $(".s2mn").on("change", function () { $(this).valid(); });

    $.validator.addMethod("valueNotEquals", function (value, element, arg) {
        return arg !== value;
    }, "Value must not equal arg.");

    var baseUrl = Utility.apiBaseUrl;

    $("#projectAddForm").validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block help-block-error',
        focusInvalid: false, // set focus the last invalid input
        invalidHandler: function (form, validator) {

            if (!validator.numberOfInvalids())
                return;
            $(this).find(":input.error:first").focus();
            $("html, body").animate({ scrollTop: 0 }, "fast");

        },
        errorPlacement: function (error, element) {

            var type = $(element).attr("type");
            if (type === "radio") {
                // custom placement
                element.parent().parent().append(error);
            } else if ($(element).attr("id") === "projectOwner" || $(element).attr("id") === "projectManager" || $(element).attr("id") === "projectDomain" || $(element).attr("id") === "projectTechnology" || $(element).attr("id") === "projectStatus" || $(element).attr("id") === "projectLead") {
                // custom placement
                element.parent().append(error);
            } else if ($(element).attr("id") === "prstartDate") {
                // custom placement
                element.parent().parent().parent().append(error);
            } else if ($(element).attr("id") === "prendDate") {
                // custom placement
                element.parent().parent().parent().append(error);
            } else if ($(element).attr("id") === "description") {
                // custom placement
                element.parent().append(error);
            } else {
                error.insertAfter(element);
            }
        },
        ignore: [], // validate all fields including form hidden input
        rules: {
            projectName: {
                required: true,
                remote:
                {
                    url: baseUrl + 'validate',
                    type: "post",
                    dataType: 'json',
                    data:
                    {
                        project: function () {
                            return JSON.stringify({
                                name: $("#projectName").val(),
                                id: $("#projectId").val(),
                                type: "New"
                            });
                        }
                    }
                }
            },
            start_date: {
                required: true
            },
            end_date: {
                required: true
            },
            projectOwner: {
                required: true
            },
            projectManager: {
                required: true
            },
            projectLead: {
                required: true
            },
            projectStatus: {
                required: true
            },
            projectAccess: {
                required: false
            },
            description: {
                required: true
            }
        },
        messages: {
            projectName: {
                required: "Project name is required.",
                // remote: ' already in database'
                // remote: jQuery.validator.format("{0} is already taken.")
                remote: "Project name is already taken."
                // remote: function() { console.log("hiiiiiiiiiiiiiiiiiiiiii"); return $.validator.format("{0} is already taken", $("#projectName").val()) }
            },
            start_date: {
                required: "Start date is required."
            },
            end_date: {
                required: "End date is required."
            },
            projectOwner: {
                required: "Project owner is required"
            },
            projectManager: {
                required: "Project manager is required"
            },
            projectLead: {
                required: "Project lead is required"
            },
            projectStatus: {
                required: "Project status is required"
            },
            projectAccess: {
                required: "Project access is required"
            },
            description: {
                required: "Description is required"
            }
        },
        highlight: function (element) { // hightlight error inputs
            $(element).closest('.form-group').addClass('has-error');
            $(element).next().children().children().attr('style', 'border-color:#dd4b39!important');
            // set error class to the control group
        },
        unhighlight: function (element) { // revert the change done by hightlight
            $(element).closest('.form-group').removeClass('has-error');
            $(element).next().children().children().attr('style', 'border-color:'); // set error class to the control group
        },
        success: function (label) {
            label.closest('.form-group').removeClass('has-error'); // set success class to the control group
        }
    });


    /*CKEDITOR.instances.description.on('change', function() {
     if(CKEDITOR.instances.description.getData().length >  0) {
     $('label[for="description"]').hide();
     }
     });  */


    /*  console.log(Utility.apiBaseUrl);
     validateclientForm();*/
</script>

<script>
    $(document).ready(function () {
        $("html, body").animate({ scrollTop: 0 }, "fast");
        $('.modal').on('hidden.bs.modal', function (e) {
            // console.log("Modal is closed");
            $('header').css('z-index', '1053');
            $('footer').css('z-index', '1053');
        });
    });
    function setCSS() {
        if ($('.modal').is(':visible') == true) {
            // console.log("Modal is open");
            $('header').css('z-index', '900');
            $('footer').css('z-index', '900');
        } else {
            $('header').css('z-index', '1053');
            $('footer').css('z-index', '1053');
        }
    }
    setCSS();
</script>

<!-- Suvrat Issue#3159 -->
<script>
    $('#prstartDate').bind('keydown', function (e) {
        // console.log("in");
        if (e.which == 13) //13 is Enter/Return key.
            e.stopImmediatePropagation();
        // console.log("in2");
    }).datepicker({
        autoclose: true,
        todayHighlight: true
    });
    $('#prendDate').bind('keydown', function (e) {
        // console.log("in");
        if (e.which == 13) //13 is Enter/Return key.
            e.stopImmediatePropagation();
        // console.log("in2");
    }).datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>
<!-- --------------------- -->

<!-- Suvrat Validation for add domain modal -->
<script>
    $(document).ready(function (e) {
        $("#domainForm").validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error',
            errorPlacement: function (error, element) {

                var type = $(element).attr("type");
                if ($(element).attr("id") === "") {
                    element.parent().append(error);

                } else {
                    error.insertAfter(element);
                }
            },
            rules: {
                categoryName: {
                    required: true
                }
            },
            messages: {
                categoryName: "Domain name is required."
            },
            highlight: function (element) { // hightlight error inputs
                $(element).closest('.form-group').addClass('has-error');

                $(element).next().children().children().attr('style', 'border-color:#dd4b39!important');
                // set error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                $(element)
                    .closest('.form-group').removeClass('has-error');
                $(element)
                    .next().children().children().attr('style', 'border-color:'); // set error class to the control group
            },
            success: function (label) {
                label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group
            }
        });
    });
</script>
<!-- -------------------------------------- -->

<!-- Suvrat Validation for add client modal -->
<script>
    $.validator.addMethod('regex', function (value, element, regexp) {
        if (regexp.constructor != RegExp)
            regexp = new RegExp(regexp);
        else if (regexp.global)
            regexp.lastIndex = 0;
        return this.optional(element) || regexp.test(value);
    }, 'Please enter a valid Email Address.');

    $.validator.addMethod("number", function (phone_number, element) {
        phone_number = phone_number.replace(/\s+/g, "");
        return this.optional(element) || phone_number.length > 9 && phone_number.match(/^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/);
    }, 'Please enter a valid mobile number.');


    var baseUrl = Utility.apiBaseUrl;
    $("#clientForm").validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block help-block-error',
        errorPlacement: function (error, element) {

            var type = $(element).attr("type");
            if ($(element).attr("id") === "") {
                element.parent().append(error);

            } else {
                error.insertAfter(element);
            }
        },
        rules: {
            companyName: {
                required: true
            },
            contactEmail: {
                required: true,
                regex: /\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b/i
            },
            mobileNo: {
                required: {
                    depends: function () {
                        $(this).val($.trim($(this).val()).split(" ").join(""));
                        return true;
                    }
                },
                number: true,
                minlength: 10,
                maxlength: 12,
            },
            address: {
                required: true
            },
            business: {
                required: true
            },
            bType: {
                required: true
            },
            projectName: {
                required: true
            }
        },
        messages: {
            companyName: "Client company name is required.",
            contactEmail: {
                required: "Contact email is required.",
                contactEmail: "Please enter a valid Email Address.",
                // remote: jQuery.validator.format("{0} is already taken.")
                remote: "Client email is already taken."
            },
            mobileNo: {
                required: "Mobile number is required."
            },
            address: {
                required: "Address is required."
            },
            business: {
                required: "Enter your Business."
            },
            projectName: {
                required: "Project name is required."
            }
        },
        highlight: function (element) { // hightlight error inputs
            $(element).closest('.form-group').addClass('has-error');

            $(element).next().children().children().attr('style', 'border-color:#dd4b39!important');
            // set error class to the control group
        },
        unhighlight: function (element) { // revert the change done by hightlight
            $(element)
                .closest('.form-group').removeClass('has-error');
            $(element)
                .next().children().children().attr('style', 'border-color:'); // set error class to the control group
        },
        success: function (label) {
            label
                .closest('.form-group').removeClass('has-error'); // set success class to the control group
        }
    });


    //Initialize Select2 Elements
    $(".select2").select2();
</script>
<!-- -------------------------------------- -->