<!-- Control Sidebar -->
<aside class="sm_container pmct demo animated" style="top: 52px;" ng-controller="resourceMatrixCtrl">
    <!-- Create the tabs -->
    <div class="sm_head">
        <h4 class=""> Comments
            <a href="#" class="pm_close"><i class="mdi mdi-close"></i></a>
        </h4>
    </div>

    <!-- Tab panes -->
    <div class="sm_body">
        {{componentBodyData}}
    </div>
    <div class="sm_footer">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">

            <li role="presentation" class="active"><a href="#" data-toggle="tab" aria-expanded="false"><i
                        class="mdi mdi-comment" aria-hidden="true"></i></a></li>
            <li role="presentation" class=""><a href="#" data-toggle="tab" aria-expanded="false"><i
                        class="mdi mdi-alert-circle" aria-hidden="true"></i></a></li>
            <li role="presentation" class=""><a href="#" data-toggle="tab" aria-expanded="false"><i
                        class="mdi mdi-restore" aria-hidden="true"></i></a></li>
            <li role="presentation" class=""><a href="#" data-toggle="tab" aria-expanded="false"><i
                        class="mdi mdi-chart-line-variant" aria-hidden="true"></i></a></li>
            <li role="presentation" class=""><a href="#" data-toggle="tab" aria-expanded="false"><i
                        class="mdi mdi-vector-polyline" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</aside>