<section class="content">
    <style>
        #circle {
            width: 15px;
            height: 15px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            /*background: red;*/
            float: left;
            margin-right: 10px;
        }

        /* Suvrat Add a new legend for tables */
        @media (max-width: 768px) {
            #legend5 {
                margin-left: -28px;
                width: 32%;
            }

            #addBtn {
                margin-top: 6px;
            }

            #example_length {
                text-align: center;
            }

            #showmore {
                margin-top: 10px;
            }
        }

        @media (min-width: 768px) {
            #legend5 {
                margin-left: unset;
                width: unset;
            }

            #addBtn {
                margin-top: 8px;
            }

            #showmore {
                margin-top: 10px;
            }

            /*#projTable {
                width: 100%;
            }*/
        }

        /* ////////////////////////////////////////// */
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <ol id="breadcrumb" class="ab-nav breadcrumb">
                    <i class="glyphicon glyphicon-home"></i>&nbsp;
                    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.label"
                        ng-class="{ active: $last }">
                        <a ng-if="!$last" ng-href="{{ breadcrumb.path }}" ng-bind="breadcrumb.label"
                            class="margin-right-xs"></a>
                        <span ng-if="$last" ng-bind="breadcrumb.label"></span>
                    </li>
                </ol>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <h4>Milestones</h4>
            </div>
            <div id="addBtn" class="col-md-1 col-sm-1 col-xs-2 pull-right">
                <button type="button" ng-if="can('user.projects.milestones.add')"
                    class="btn btn-primary btn-circle btn-sm pull-right" data-toggle="modal" title="Add new"
                    data-target="" data-ng-click="mst.addNewMilestone()"><i class="fa fa-plus" aria-hidden="true"
                        style="padding-right:0.3px"></i>
                </button>
            </div>
            <div id="showmore" class="col-md-4 col-sm-4 col-xs-10">
                <div class="dataTables_length text-right" id="example_length"><label>Show
                        <select id="table_length" aria-controls="example" style='outline: 0;'>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entries</label>
                </div>
            </div>
        </div>
        <!-- Suvrat Table legend -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;padding-right:0px">
                <div id="legendd" class="" style="display: inline-block;">
                    <!-- <div class="legend-item col-md-2 col-sm-4 col-xs-5"> -->
                    <span id="circle" ng-class="tk.status_id" class="Pending"></span>
                    <span class="status_name">Pending</span>
                    <!-- </div> -->
                    <!-- <div class="legend-item col-md-3 col-sm-4 col-xs-7"> -->
                    <span id="circle" ng-class="tk.status_id" class="Start"></span>
                    <span class="status_name">In-progress</span>
                    <!-- </div> -->
                    <!-- <div class="legend-item col-md-2 col-sm-4 col-xs-4"> -->
                    <span id="circle" ng-class="tk.status_id" class="Active"></span>
                    <span class="status_name">Active</span>
                    <!-- </div> -->
                    <!-- <div class="legend-item col-md-3 col-sm-4 col-xs-5"> -->
                    <span id="circle" ng-class="tk.status_id" class="Paused"></span>
                    <span class="status_name">On-hold</span>
                    <!-- </div> -->
                    <!-- <div id="legend5" class="legend-item col-md-2 col-sm-4 col-xs-3"> -->
                    <span id="circle" ng-class="tk.status_id" class="Closed"></span>
                    <span class="status_name">Closed</span>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <!-- -------------------------------------------- -->
        <!-- Milestone Table -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-default">
                    <tr>
                        <th width="10%" style="text-align: center;">Sr. No.</th>
                        <th width="30%" style="">Milestone</th>
                        <th width="10%">Status</th>
                        <th width="10%" style="text-align: center;">Start Date</th>
                        <th width="10%" style="text-align: center;">End Date</th>
                        <th width="10%" style="text-align: center;">Tasks</th>
                        <th width="10%" style="text-align: center;">Balance/Delay (Days)</th>
                        <th width="10%" style="text-align: center;"
                            ng-if="can('user.projects.milestones.view') || can('user.projects.milestones.edit') || can('user.projects.milestones.status')">
                            Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- style="cursor: pointer;" -->
                    <tr ng-if="mst.overallMilestone.length > 0" ng-repeat="ms in mst.overallMilestone" id="{{ms.id}}">
                        <!-- <td style="text-align: center;" ng-bind="pr.name"></td> -->
                        <td style="text-align: center;" ng-bind="(mst.pageno - 1) * mst.limit + ($index + 1)"></td>
                        <td>{{ms.title}}</td>
                        <td style="text-align: center; padding-left: 2%;"><span id="circle" ng-class="ms.status_id"
                                data-toggle="tooltip" title={{ms.status_id}}></span></td>
                        <td style="text-align: center;" ng-bind="ms.start_date"></td>
                        <td style="text-align: center;" ng-bind="ms.due_date"></td>
                        <td style="text-align: center;" ng-bind="ms.task.length"></td>
                        <td style="text-align: center;">
                            <span ng-if="ms.delay !== 0" data-toggle="tooltip"
                                title="{{ms.delay > 0 ? 'Delay' : 'Balance'}}"
                                ng-class="ms.delay > 0 ? 'Delay' : 'Balance'"
                                style="color:white; min-width: 25px; min-height: 20px; width: auto;height: auto; padding: 4%; float: left; margin-left: 30px; font-weight: bolder;">{{ms.delay | positive}}</span>

                            <span ng-if="ms.delay == 0" data-toggle="tooltip" title="{{ms.delay == 0 ? 'On Time' : ''}}"
                                ng-class="ms.delay > 0 ? 'Delay' : 'Balance'"
                                style="color:white; min-width: 25px; min-height: 20px; width: auto;height: auto; padding: 4%; float: left; margin-left: 30px; font-weight: bolder;">{{ms.delay | positive}}</span>
                        </td>
                        <td style="text-align: center;"
                            ng-if="can('user.projects.milestones.view') || can('user.projects.milestones.edit') || can('user.projects.milestones.status')">
                            <!-- <a ng-href="" data-toggle="modal" data-target="#modal-default"><i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;&nbsp; -->

                            <a ng-href="/project/milestone/view/{{ms.project_id}}?id={{ms.id}}" title="View"
                                style="outline:0;text-decoration: none;"><button
                                    ng-if="can('user.projects.milestones.view')" type="button"
                                    class="btn btn-default btn-xs"
                                    style="border-color: #fff!important;color: #428bca;text-align: center;"><i
                                        class="fa fa-eye" aria-hidden="true"></i></button></a>

                            <a ng-href="/project/milestone/edit/{{ms.project_id}}?id={{ms.id}}" title="Edit"
                                ng-click="mst.edit();" style="outline:0;"><button
                                    ng-if="can('user.projects.milestones.edit')" type="button"
                                    class="btn btn-default btn-xs"
                                    style="border-color: #fff!important;color: #428bca;text-align: center;"><i
                                        class="fa fa-pencil" aria-hidden="true" style="color:#428bca;"></i></button></a>

                            <button ng-if="can('user.projects.milestones.status')" type="button"
                                class="btn btn-default btn-xs" title="Change Status"
                                ng-click="mst.openChangeStatusModal(ms.id)"
                                style="border-color: #fff!important;text-align: center;"><i class="fa fa-edit"
                                    aria-hidden="true" style="color:#428bca;"></i></button>
                        </td>
                    </tr>
                    <tr ng-if="mst.overallMilestone == null || mst.overallMilestone.length == 0">
                        <td style="text-align: center;" colspan="7">No Records Found</td>
                    </tr>
                </tbody>
            </table>
            <div class="row col-sm-12" style="padding-right: 0px;">
                <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0px"
                    ng-if="mst.overallMilestone.length > 0">
                    <span style="float: left;margin-top: 17px;margin-bottom: 10px;font-weight: 700;">Showing
                        {{mst.fromValue != null ? mst.fromValue : 0}} to {{mst.toValue != null ? mst.toValue : 0}} out
                        of {{mst.totalEntries != null ? mst.totalEntries : 0}} results</span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0px">
                    <ul id="pagination-sec" class="pagination-sm"
                        style="float: right;margin-top: 10px;margin-bottom: 10px"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-default" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Milestone Details</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Status Drop down modal  -->
    <div class="modal fade" id="changeMilestoneStatusModal" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content" style="width: 80%; margin-left: 10%;">
                <div class="modal-header" style="text-align:center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="row col-md-12" style="text-align:center;">
                        <div class="">
                            <h4 class="modal-title">Change Status </h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="changeMilestoneStatusForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="mandatory" for="milestoneStatusChange">Status</label>
                                    <select id="milestoneStatusChange" name="milestoneStatusChange" class="form-control"
                                        ng-model="mst.milestoneStatus" data-placeholder="Enter Status"
                                        ng-options="x.name as x.name for x in mst.status">
                                        <option value="">Select status</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="mandatory" for="status_comment">Add comment</label>
                                    <textarea type="text" rows="3" cols="90" ng-model="mst.status_comment"
                                        name="status_comment" id="status_comment" class="form-control"
                                        placeholder="Enter comment" style="resize: vertical"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="changeMilestoneStatus" type="button" class="btn btn-primary btn-sm" data-dismiss=""
                        ng-click="mst.changeStatus();">Update</button>
                    <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("html, body").animate({ scrollTop: 0 }, "fast");
        $(".select2").select2();
        $(".s2mn").on("change", function () { $(this).valid(); });
        $('.modal').on('hidden.bs.modal', function (e) {
            $('header').css('z-index', '1053');
            $('footer').css('z-index', '1053');
        })
    });
    function setCSS() {
        if ($('.modal').is(':visible') == true) {
            $('header').css('z-index', '900');
            $('footer').css('z-index', '900');
        } else {
            $('header').css('z-index', '1053');
            $('footer').css('z-index', '1053');
        }
    }
    setCSS();
    $("#changeMilestoneStatusForm").validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block help-block-error',
        errorPlacement: function (error, element) {
            var type = $(element).attr("type");
            if ($(element).attr("id") === "taskStatus") {
                element.parent().append(error);
            } else {
                error.insertAfter(element);
            }
        },
        focusInvalid: true, // set focus the last invalid input
        ignore: [], // validate all fields including form hidden input
        rules: {
            milestoneStatusChange: {
                required: true
            },
            status_comment: {
                required: true
            },
        },
        messages: {
            taskStatus: {
                required: "Milestone status is required."
            },
            status_comment: {
                required: "Comment is required."
            },
        },
        highlight: function (element) { // hightlight error inputs
            $(element).closest('.form-group').addClass('has-error');
            $(element).next().children().children().attr('style', 'border-color:#dd4b39!important');// set error class to the control group
        },
        unhighlight: function (element) { // revert the change done by hightlight
            $(element).closest('.form-group').removeClass('has-error');
            $(element).next().children().children().attr('style', 'border-color: #dd4b39!important');// set error class to the control group
        },
        success: function (label) {
            label.closest('.form-group').removeClass('has-error');//set success class to the control group
        }
    });
</script>
<!-- Suvrat Issue#2925 To rearrange milestone list-->
<!-- <script type="text/javascript">
    $(document).ready(function() {
        $('tbody').sortable({
            update: function(event, ui) {
                var r = $(this).sortable('toArray');    //This is getting the IDs of the items so that a way to save sort can be implemented
                // console.log("New sort order: ", r);
            }
        });
    })
</script> -->
<!-- ------------------- -->