<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h4>Status</h4>
      </div>
      <div class="pull-right">
        <ol class="ab-nav breadcrumb">
          <i class="glyphicon glyphicon-home"></i>&nbsp;
          <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.label" ng-class="{ active: $last }">
            <a ng-if="!$last" ng-href="{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
            <span ng-if="$last" ng-bind="breadcrumb.label"></span>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pull-right">
        <button type="button" class="btn btn-primary btn-circle btn-sm pull-right" data-toggle="modal" title="Add new"
          data-target="" data-ng-click="stc.addNewStatus()"><i class="fa fa-plus" aria-hidden="true"
            style="padding-right:0.3px"></i>
        </button>
      </div>
    </div>
    <br>
    <!-- Status table  -->
    <div class="table-responsive">
      <table class="table table-striped table-condensed table-hover">
        <thead class="thead-default">
          <tr>
            <th style="text-align: center;">Sr No.</th>
            <th>Activity Type</th>
            <th>Name</th>
            <th style="text-align: center;">Action</th>
            <!--  <th>Status</th> -->
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="data in stc.allStatusList">
            <td style="text-align: center;">{{$index+1}}</td>
            <td>{{data.activity_type_id}}</td>
            <td>{{data.name}}</td>
            <td style="text-align: center;">
              <a ng-href="status/edit?id={{data.id}}" title="Edit" style="outline: 0;"><i class="fa fa-pencil"
                  aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    $("html, body").animate({ scrollTop: 0 }, "fast");
  });
</script>